fastcore
nbdev>=1.1.14
pandas 
plotly>=5.17.0 
nbformat>=4.2.0 
geopandas
GitPython 
numpy 
dash-bootstrap-components 
dash==2.14.0
gunicorn
topojson
dash-bootstrap-templates
dash-mantine-components
python-dotenv
boto3
