project:
  type: website

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

website:
  twitter-card: true
  open-graph: true
  repo-actions: [issue]
  navbar:
    background: primary
    search: true
    right:
    - icon: github
      aria-label: GitHub
      href: https://github.com/Gippers
    - icon: globe
      aria-label: Personal Website
      href: https://www.thomasmartin.id.au

  sidebar:
    style: floating

metadata-files: [nbdev.yml, sidebar.yml]